$primary-text-color: #000000;
$title-text-color: #212121;
$accent-color: #2196F3;
$list-text-color: #757575;
$primary-bg-color: #FFFFFF;
$text-color: #FFFFFF;
$second-bg-color: #F5F4FA;
$hero-bg-color: #2F303A;
$button-bg-color: #188CE8;
$mail-tel-color:  rgba(255, 255, 255, 0.6);
$border-header-color: #ECECEC;
$border-carta-color: #EEEEEE;
$icona-client-color: #AFB1B8;
$main-font: Roboto, sans-serif;
$main-size: 14px;
$main-spacing: 0.03em;
$web-font: Raleway, sans-serif;